@import "../../../assets/styles/base/base";
@import "../../../assets/styles/libs/vars";
@import "../../../assets/styles/libs/mixins";
.filterBar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 180px;
  > span {
    @include boxShadowGenerator($normalShadow);
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    border-radius: $normalBorderRadius;
    height: 52px;
    i {
      height: 100%;
      width: 25px;
    }
  }
  input {
    border: none;
    outline: none;
    background: none;
  }

  .regionFilter {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 118px;
    z-index: 1;
    > * {
      @include boxShadowGenerator($normalShadow);
      border-radius: $normalBorderRadius;
    }
    div {
      height: 52px;
      display: flex;
      align-items: center;
    }
    button {
      height: 25px;
      width: 25px;
      border: none;
    }
    ul {
      margin-top: 5px;
      padding: 0;
      li {
        list-style-type: none;
        text-transform: capitalize;
      }
    }
  }
}
