@import "../../assets/styles/libs/vars";
.dashboard {
  font-size: $homePageItems;
  color: $white;
  a {
    color: $white;
    text-decoration: none !important;
  }
}
.dark {
  background: $veryDarkBlue;
}
.light {
}
