@import "../../../App.scss";
.pagination {
  button {
    background: none;
    border: none;
    outline: none;
    &:disabled {
      i {
        color: $darkGray !important;
      }
    }
  }
  .nextPage {
    i {
      transform: rotate(180deg);
    }
  }
  .isActive {
    color: green;
  }
}
